{% extends 'base.html.twig' %}

{% block title %}Set user password{% endblock %}

{% block body %}
    {% for label, messages in app.flashes() %}
        {% for message in messages %}
            <div class="alert alert-{{ label }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}

    <h1>{{ 'Set user password'|trans }}</h1>

    <p>{{ 'Set password for user %user%'|trans({'%user%': user.username}) }}</p>

    {{ form_start(form) }}
    {{ form_rest(form) }}
    <button class="btn btn-primary">{{ 'Set password'|trans }}</button>
    {{ form_end(form) }}
{% endblock %}
