<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <title>{% block title %}{{ site_name }}{% endblock %}</title>
        <link rel="stylesheet" href="http://getbootstrap.com/dist/css/bootstrap.min.css"/>
        <link rel="stylesheet" href="{{ asset('assets/dist/css/page.css') }}"/>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        {% block body %}
            {% block header %}
                <header>
                    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
                        <a class="navbar-brand" href="/">{{ site_name }}</a>
                    </nav>
                </header>
            {% endblock %}

            <main role="main" class="container">
                {% block content %}{% endblock %}
            </main>

            {% block footer %}
                <footer class="footer">
                    <div class="container">
                        {% if craue_setting('page_footer') %}
                            {{ craue_setting('page_footer') }}
                        {% else %}
                            {% set url = path('easyadmin', {entity: 'Setting', action: 'edit', 'id': 'page_footer'}) %}
                            Go to <a href="{{ url }}">{{ url }}</a> and edit the page footer.
                        {% endif %}
                    </div>
                </footer>
            {% endblock %}
        {% endblock %}

        <script src="{{ asset('assets/dist/js/jquery.min.js') }}"></script>
        <script src="{{ asset('assets/dist/js/popper.min.js') }}"></script>
        <script src="{{ asset('assets/dist/js/bootstrap.min.js') }}"></script>

        {% block javascripts %}{% endblock %}
    </body>
</html>
