{% extends 'base.html.twig' %}

{% block title %}
    {{ site_name }} – {{ survey.title }}
{% endblock %}

{% set survey = answer.survey %}

{% block body %}
    {% set labels = survey.configuration.labels|default(null) %}
    <div class="row full-height">
        <div class="col-md-6 main">
            <div class="survey" data-configuration="{{ survey.configuration|json_encode }}" data-replies="{{ answer.replies | json_encode }}">
                <section class="header mt-3">
                    <div class="row">
                        <div class="col"><h4>{{ 'Your answer has been saved' | trans }}</h4></div>
                        <div class="col text-right"><a href="javascript:window.print()" class="btn btn-secondary d-print-none"><i class="fa fa-print"></i> {{ 'Print answer' | trans }}</a></div>
                    </div>
                </section>
                <section id="survey-info" class="mt-3 mb-3">
                    {% include '_partials/survey_metadata.html.twig' %}
                </section>
                <p class="lead break-page-print">{{ 'Summary of your replies' | trans }}</p>
                <section id="survey-author-info" class="mb-3">
                    <div class="row">
                        {% if answer.name %}
                            <div class="col">
                                <p><strong>{{ 'Answered by' | trans }}: </strong>{{ answer.name }}</p>
                            </div>
                        {% endif %}
                        {% if answer.company %}
                            <div class="col">
                                <p><strong>{{ 'Company' | trans }}: </strong>{{ answer.company }}</p>
                            </div>
                        {% endif %}
                        {% if answer.documentationId %}
                            <div class="col">
                                <p><strong>{{ 'Documentation id' | trans }}: </strong>{{ answer.documentationId }}</p>
                            </div>
                        {% endif %}
                        {% if answer.address %}
                            <div class="col-12">
                                <p><strong>{{ 'Address' | trans }}: </strong><br>
                                    {{ answer.address }}</p>
                            </div>
                        {% endif %}
                        {% if answer.description %}
                            <div class="col-12">
                                <p><strong>{{ labels.answer.description|default('Description' | trans) }}: </strong><br>
                                    {{ answer.description }}</p>
                            </div>
                        {% endif %}
                    </div>
                </section>
                {% for question in survey.questions %}
                    {% set reply = answer.replies[loop.index0]|default(false) %}
                    <section class="question mb-3" data-index="{{ loop.index0 }}" id="{{ loop.index0 }}">
                        <div class="row">
                            <div class="col-1">
                                <p class="lead">{{ loop.index }}. </p>
                            </div>
                            <div class="col-11">
                                <h4>{{ question.title }}</h4>
                                <div class="reply">
                                    {% if reply.value|default(null) != null %}
                                        <p>{{ 'Reply' | trans }}: {{ survey.rating[reply.value]|default(reply.value) }}</p>
                                        {% if reply.comment|default(false) %}
                                            <p><i>{{ reply.comment }}</i></p>
                                        {% endif %}
                                    {% else %}
                                        <p>{{ 'No reply' | trans }}</p>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </section>
                {% endfor %}
            </div>
        </div>
        <div class="col-md-6 grey-bg aside">

            <p class="lead mt-3">{{ labels.chart.title|default('Model of answers'|trans) }}</p>
            <h4>{{ survey.title }}</h4>
            <div id="chart-wrapper" class="mb-3 mt-3">
                <canvas id="chart"></canvas>
            </div>
            <div class="row">
                <div class="col">
                    {% include '_partials/category_ranges.html.twig' %}
                </div>
                <div class="col">
                    {% include '_partials/chart_legend.html.twig' %}
                </div>
            </div>

            {% include '_partials/logo.html.twig' %}
        </div>
    </div>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('assets/dist/css/survey.css')}}"/>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% include '_partials/survey_scripts.twig.html' %}
{% endblock %}
