{% set labels = survey.configuration.labels|default(null) %}
{% set expandfirst = expandfirst|default(false) %}

<div id="accordion" data-children=".item">
    {% if survey.description %}
        <div class="item description mb-3">
            <a data-toggle="collapse" data-parent="#accordion" href="#description" aria-expanded="false" aria-controls="description">
                {{ labels.description|default('Survey description'|trans) }}
            </a>
            <div id="description" class="collapse" role="tabpanel">
                {{ survey.description | raw }}
            </div>
        </div>
    {% endif %}

    {% if survey.instructions %}
        <div class="item instructions mb-3">
            <a data-toggle="collapse" data-parent="#accordion" href="#instructions" aria-expanded="false" aria-controls="instructions">
                {{ labels.instructions|default('Survey instructions'|trans) }}
            </a>
            <div id="instructions" class="collapse" role="tabpanel">
                {{ survey.instructions | raw }}
            </div>
        </div>
    {% endif %}

    {% if not answer is defined %}
        {% if survey.preparations %}
            <div class="item preparations mb-3">
                <a data-toggle="collapse" data-parent="#accordion" href="#preparations" aria-expanded="true" aria-controls="preparations">
                    {{ labels.preparations|default('Survey preparations'|trans) }}
                </a>
                <div id="preparations" class="show" role="tabpanel">
                    {{ survey.preparations|replace({'survey://all_questions': path('survey_questions', {id: survey.id})})|raw }}
                </div>
            </div>
        {% endif %}
    {% endif %}
</div>
