{% extends 'base.html.twig' %}

{% block body %}
	<h1>{{ survey.title }}</h1>

	{% if survey.description %}
		<div class="description">{{ survey.description }}</div>
	{% endif %}

	<div class="row">
		<div class="col-md-6">
			{% form_theme form 'bootstrap_3_layout.html.twig' %}
			{{ form_start(form) }}
			{% for question in survey.questions %}
				<div class="question" id="{{ loop.index0 }}" >
					<h2>{{ loop.index }}. {{ question.title }}</h2>

					<div class="text">{{ question.text }}</div>

					{{ form_widget(form.replies[loop.index0]) }}
					{#
					<div class="reply">
					{% for rating in survey.configuration.rating %}
					<label>
					<input type="radio" name="reply[{{ loop.parent.loop.index0 }}][]" value="{{ loop.index }}"/>
					{{ loop.index }}: {{ rating }}
					</label>
					{% endfor %}
					</div>
					#}

					<div class="row">
						<div class="col-md-6">
							{% if not loop.first %}
								<button type="button" class="btn btn-default" id="prev">{{ 'Previous question' | trans }}</button>
							{% endif %}
						</div>
						<div class="col-md-6 text-right">
							{% if not loop.last %}
								<button type="button" class="btn btn-primary" id="next">{{ 'Next question' | trans }}</button>
							{% endif %}
						</div>
					</div>
				</div>
			{% endfor %}

			{#
			<form method="post" action="{{path('answer_submit', {id: survey.id}) }}">
				<button type="submit" class="btn btn-success btn-block" id="submit">{{ 'Submit answer' | trans }}</button>
				<textarea id="data" name="data" readonly rows="10"></textarea>
			</form>
			#}

			{{ form_end(form) }}
		</div>
		<div class="col-md-6">
			<div id="chart-wrapper">
				<canvas id="chart"></canvas>
			</div>
		</div>
	</div>
{% endblock %}

{% block stylesheets %}
	<style>
	 #chart-wrapper {
		 max-width: 100%;
		 height: 400px;
	 }

	 #question-text {
		 height: 200px;
	 }

	 #data {
		 display: none;
	 }
	</style>
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.min.js" integrity="sha256-SiHXR50l06UwJvHhFY4e5vzwq75vEHH+8fFNpkXePr0=" crossorigin="anonymous"></script>
	{#
	<script src="/survey.js"></script>
	<script src="{{ path('survey_show_data', {id: survey.id, callback: 'loadSurvey'}) }}"></script>
	#}
{% endblock %}
