{% extends 'base.html.twig' %}

{# @FIXME: There must be a better way to do this! #}
{# @see: https://getbootstrap.com/docs/4.0/components/buttons/#checkbox-and-radio-buttons #}
{% block choice_widget_expanded -%}
    <div class="replies">
        <div class="btn-group" data-toggle="buttons">
            {% for choice in choices %}
                <label class="btn btn-light reply-index-{{ loop.index0 }} reply-value-{{ choice.value }}">
                    <input type="radio" name="{{ loop.parent.full_name }}" value="{{ choice.value }}" autocomplete="off" required/> {{ choice.label }}
                </label>
            {% endfor %}
        </div>
    </div>
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-8">
            <div id="validation-errors" class="alert alert-danger" style="display: none">{{ 'Please fill in all required fields' | trans }}</div>

            <div class="survey" data-configuration="{{ survey.configuration|json_encode }}" data-survey-min="{{ survey.configuration.min|default(0) }}" data-survey-max="{{ survey.configuration.rating|length }}">
				<header>
					<h1 class="title" >{{ survey.title }}</h1>
				</header>

                {% form_theme form 'bootstrap_3_layout.html.twig' %}
                {{ form_start(form) }}
					<section class="metadata" style="display: none">

                        {{ form_row(form.author, {label: survey.configuration.answer.labels.author|default(null)}) }}
                        {{ form_row(form.title, {label: survey.configuration.answer.labels.title|default(null)}) }}
                        {{ form_row(form.description, {label: survey.configuration.answer.labels.description|default(null)}) }}

                        <div class="text-right">
                            <button type="button" class="btn btn-primary survey-next">{{ survey.configuration.labels.start|default('Start survey' | trans) }}</button>
                        </div>
                    </section>

                    {% for question in survey.questions %}
                        <section class="question" data-index="{{ loop.index0 }}" id="{{ loop.index0 }}" style="display: none">
                            <h2>{{ loop.index }}. <span  class="title">{{ question.title }}</span></h2>

                            <div class="text">{{ question.text | raw }}</div>

                            {% set form_field = form.replies[loop.index0] %}
                            {% form_theme form_field.value _self %}
                            {{ form_row(form_field.value, {label: survey.configuration.question.labels.value|default(null)}) }}
                            {{ form_row(form_field.comment, {label: survey.configuration.question.labels.comment|default(null)}) }}

                            <div class="row">
                                <div class="col-md-6">
                                    {% if not loop.first %}
                                        <button type="button" class="btn btn-default survey-prev">{{ survey.configuration.labels.prev|default('Previous question' | trans) }}</button>
                                    {% endif %}
                                </div>
                                <div class="col-md-6 text-right">
                                    {% if true or not loop.last %}
                                        <button type="button" class="btn btn-primary survey-next">{{ survey.configuration.labels.next|default('Next question' | trans) }}</button>
                                    {% endif %}
                                </div>
                            </div>
                        </section>
                    {% endfor %}

                    <section class="submit" style="display: none">
                        <button type="button" class="btn btn-default survey-prev">{{ survey.configuration.labels.back|default('Back' | trans) }}</button>

                        <button type="submit" class="btn btn-primary btn-block">{{ survey.configuration.labels.save|default('Save answer' | trans) }}</button>
                    </section>
                {{ form_end(form) }}
            </div>
        </div>
        <div class="col-md-4">
            <section class="header" id="survey-info">
                {% if survey.description %}
                    <div class="description">{{ survey.description | raw }}</div>
                {% endif %}

                {% if survey.instructions %}
                    <div class="instructions">{{ survey.instructions | raw }}</div>
                {% endif %}
            </section>

            <div id="chart-wrapper">
                <canvas id="chart"></canvas>
            </div>
        </div>
    </div>
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="/assets/dist/survey.css"/>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="//cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.min.js" integrity="sha256-SiHXR50l06UwJvHhFY4e5vzwq75vEHH+8fFNpkXePr0=" crossorigin="anonymous"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.17.0/jquery.validate.min.js"></script>
    <script src="/assets/src/survey.js"></script>
{% endblock %}
